*~
*.o
*.a
*.x
*.ir
*.mod
*.dat
*.log
*.out
*.swp
*.data
*.cycle
.DS_Store
fort.*
test/*/POTCAR
test/*/dft
test/*/dmft*
test/*/impurity.*
test/*/band.*
test/*/dm.*
test/*/level.*
test/*/ovlp.*
test/*/kpath.*
test/*/hamk.*
test/_*
src/solver/iQIST/src/ctseg/ctqmc
src/dmft/Dyson/src/dmft
docs/build
