*~
*.o
*.a
*.x
*.ir
*.mod
*.dat
*.log
*.out
*.swp
*.data
*.cycle
.DS_Store
fort.*
test/*/POTCAR
test/*/dft
test/*/dmft*
test/*/impurity.*
test/*/band.*
test/*/dm.*
test/*/level.*
test/*/ovlp.*
test/*/kpath.*
test/*/hamk.*
test/_*
ctqmc
dmft
docs/build
src/solver/norg/*/*.d
src/solver/norg/console/exe
src/solver/norg/console/norg
src/solver/norg/archives
src/solver/norg/*.txt
src/solver/norg/*/*.txt
src/solver/norg/.vscode
src/solver/norg/archive
!ose_hop.txt
src/solver/norg/bi/*bi
