*.d
*.o
exe
archives/*
/dmft_norg.vcxproj.user
/dmft_norg.vcxproj.filters
/dmft_norg.vcxproj
/dmft_norg.sln
/x64/*
/.vs/*
/io/*
/tso/*
jmwang.*
jmw.*
jmw.txt
makefile
Ajmw.txt
/bi/zic*
log.parameters.txt
*.json
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
bi/*
/v3.2x/x64/Release/*
/v3.2x/x64/Release/v3.2x.tlog/xilink.write.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/xilink.read.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/xilink.command.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/xilink-mcpcom.write.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/xilink-mcpcom.read.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/xilink-link.write.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/xilink-link.read.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/xilink-link-rc.write.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/xilink-link-rc.read.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/xilink-link-cvtres.write.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/xilink-link-cvtres.read.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/v3.2x.lastbuildstate
/v3.2x/x64/Release/v3.2x.tlog/icl.write.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/icl.read.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/icl.command.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/icl-mcpcom.write.1.tlog
/v3.2x/x64/Release/v3.2x.tlog/icl-mcpcom.read.1.tlog
/v3.2x/x64/Release/v3.2x.pdb
/v3.2x/x64/Release/v3.2x.log
/v3.2x/x64/Release/v3.2x.exe.recipe
/v3.2x/x64/Release/v3.2x.exe
/v3.2x/x64/Release/toolbox.obj
/v3.2x/x64/Release/stdpfx.obj
/v3.2x/x64/Release/state.obj
/v3.2x/x64/Release/specs.obj
/v3.2x/x64/Release/sfmt.obj
/v3.2x/x64/Release/prmtr.obj
/v3.2x/x64/Release/phycialcalc.obj
/v3.2x/x64/Release/phy.obj
/v3.2x/x64/Release/operator.obj
/v3.2x/x64/Release/onb.obj
/v3.2x/x64/Release/occler.obj
/v3.2x/x64/Release/nund.obj
/v3.2x/x64/Release/norg.obj
/v3.2x/x64/Release/nocspace.obj
/v3.2x/x64/Release/mympi.obj
/v3.2x/x64/Release/mother.obj
/v3.2x/x64/Release/model.obj
/v3.2x/x64/Release/mersenne.obj
/v3.2x/x64/Release/main.obj
/v3.2x/x64/Release/krylov.obj
/v3.2x/x64/Release/impurity.obj
/v3.2x/x64/Release/hyberr.obj
/v3.2x/x64/Release/green.obj
/v3.2x/x64/Release/gaussj.obj
/v3.2x/x64/Release/gauss.obj
/v3.2x/x64/Release/fftrc.obj
/v3.2x/x64/Release/eigsym.obj
/v3.2x/x64/Release/dmft_bethe.obj
/v3.2x/x64/Release/densitymatrix.obj
/v3.2x/x64/Release/crrvec.obj
/v3.2x/x64/Release/crrltfun.obj
/v3.2x/x64/Release/comdivs.obj
/v3.2x/x64/Release/bnmlfast.obj
/v3.2x/x64/Release/bath.obj
/v3.2x/v3.2x.vcxproj.user
/v3.2x/v3.2x.vcxproj.filters
/v3.2x/v3.2x.vcxproj
/v3.2x/v3.2x.sln
/v3.2x/tso/slater_correlation.txt
/v3.2x/tso/*
/v3.2x/tso/imp3_bath_occupation_number.txt
/v3.2x/tso/imp2_bath_occupation_number.txt
/v3.2x/tso/imp1_bath_occupation_number.txt
/v3.2x/tso/ground_energy.txt
/v3.2x/io/*
/v3.2x/io/zic001.mb.hb.txt
/v3.2x/io/zic001.mb.g0_imp.txt
/v3.2x/io/zic000.mb.g_0loc.txt
/v3.2x/io/prmtr.ose1.txt
/v3.2x/io/prmtr.ose0.txt
/v3.2x/io/prmtr.log.txt
/v3.2x/io/prmtr.hop1.txt
/v3.2x/io/prmtr.hop0.txt
/v3.2x/bi/000rotuation_u
/v3.2x/bi/000ose
/v3.2x/bi/000hop
/v3.2x/.vs/v3.2x/v16/ipch/AutoPCH/f8a01042c8a952f4/OPERATOR.ipch
/v3.2x/.vs/v3.2x/v16/ipch/AutoPCH/f4b72d1b6413f89a/V3.2X.ipch
/v3.2x/.vs/v3.2x/v16/ipch/AutoPCH/f1ef4be942bea21/PRMTR.ipch
/v3.2x/.vs/v3.2x/v16/ipch/AutoPCH/c293a3f7c86a201f/EIGSYM.ipch
/v3.2x/.vs/v3.2x/v16/ipch/AutoPCH/731f3270a64dd7e5/MAIN.ipch
/v3.2x/.vs/v3.2x/v16/ipch/AutoPCH/47133ad582f2ea36/DMFT_BETHE.ipch
/v3.2x/bi/*
*.ipch
